input, span, textarea {
    margin: 4px;
    vertical-align: middle;
}

textarea {
    min-width: 220px;
}

input {
    min-height: 25px;
    min-width: 35px;
}

form > input {
    min-width: 176px;
}

#keyboard {
    display: none;
}
